body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/* global css start*/
.container {
 width: 80%;
 margin: 0 auto;
}
h1 {
 margin: 0;
}
:root {
 --black-color: #000;
 --white-color: #fff;
 --button-bg: #20dfe6cf;
 --main-bg: #023133;
}
/*globas css end*/

/*navbar start*/
.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: var(--black-color);
 color: var(--white-color);
 padding: 12px 12px;
}
.logo h1 {
 text-transform: uppercase;
 font-size: 900;
 cursor: pointer;
}
.link a {
 text-decoration: none;
 text-transform: capitalize;
 color: var(--white-color);
 padding: 8px;
 font-size: larger;
}

.btnNavbar {
 background-color: var(--button-bg);
 color: var(--white-color);
 padding: 8px 16px;
 border-radius: 10px;
 font-size: larger;
 cursor: pointer;
}
/*navbar end*/
/*main start*/
.mainSection {
 background-color: var(--main-bg);
 margin: 0 auto;
 color: var(--white-color);
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px 20px;
 box-sizing: border-box;
 gap: 12px;
}
.mainSection h1 {
 font-size: 72px;
 letter-spacing: 2px;
}
.mainSection span {
 color: var(--button-bg);
}
.mainSection p {
 font-size: 18px;
}
img {
 border-radius: 12px;
 box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.25);
}
/*main end*/
/*About Us start*/
.aboutUs {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: var(--main-bg);
 color: var(--white-color);
}
.aboutUs h2 {
 font-size: 42px;
 margin: 8px;
}
.aboutUs p {
 font-size: 18px;
 letter-spacing: 1px;
 padding: 8px 18px;
}
/*About us end*/
/*footer start*/
.footer {
 background-color: var(--black-color);
 color: var(--white-color);
}
.btnNavbar {
 padding: 12px 24px;
 margin: 8px 8px;
 cursor: pointer;
}
.lastOne {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.watch {
 background-color: var(--main-bg);
 opacity: 0.7;
 color: var(--white-color);
 font-size: larger;
 padding: 12px 24px;
 margin: 8px 8px;
 border-radius: 12px;
 cursor: pointer;
}
.icon {
 padding: 8px 24px;
 margin: 8px 8px;
 cursor: pointer;
 border: 1px solid var(--white-color);
 border-radius: 8px;
 box-shadow: 5px 5px 0px 0px var(--button-bg);
}
.icon .icons {
 color: var(--white-color);
 font-size: 32px;
}
/*footer end*/
/* media query start*/
@media (max-width: 992px) {
 .navbar {
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
 }
 .btnNavbar {
  background-color: var(--button-bg);
  color: var(--white-color);
  padding: 4px 8px;
  border-radius: 10px;
  font-size: medium;
  cursor: pointer;
 }
}
.mainSection {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 10px 10px;
 gap: 8px;
}
.mainSection h1 {
 font-size: 52px;
 letter-spacing: 1px;
}
.mainSection p {
 font-size: 16px;
}
.mainSection img {
 width: 450px;
}
.aboutUs h2 {
 font-size: 32px;
 margin: 4px;
}
.aboutUs p {
 font-size: 16px;
 letter-spacing: 0.5px;
 padding: 6px 20px;
}
.lastOne {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.btnNavbar {
 padding: 10px 20px;
 margin: 6px 6px;
 cursor: pointer;
}
.watch {
 font-size: medium;
 padding: 10px 20px;
 margin: 6px 6px;
}
.icon {
 padding: 6px 20px;
 margin: 6px 6px;
}
.icon .icons {
 color: var(--white-color);
 font-size: 28px;
}
/*media query end*/
